.analysisHeader {
    background-color: #1f1e1b;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    min-height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

html .analysisBar {
    margin-top: 30px;
    min-height: 400px;
    height: 95vh;
    min-width: 25vw;
    border-radius: 5px;
    background-color: #272522;
    padding-left: 0px;
    padding-right: 0px;
}

.analysisTabs {
    color: white;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    background-color: #1f1e1b;
    min-height: 50px;
}

.analysisTabs button {
    width:33%;
    background-color: #1f1e1b;
    border-bottom: 0px;
}

.analysisHeader a  {
    width:50%;
    flex-grow: 1;
    background-color: #1f1e1b;
}

.analysisHeader button {
    background-color: #1f1e1b;
    border-bottom: 0;
    width: 100%;
    height: 100%;
}

.analysisTabs button, .analysisHeader button {
    display:inline-block;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.analysisHeader a.selected {
    border-bottom: solid white 2px;
    background-color: #272522;
}

.analysisTabs button.selected {
    background-color: #272522;
}

.analysisOpening {
    display: flex;
    align-items: center;
    font-size: .8rem;
    background-color: #272522;
    min-height: 40px;
    padding-left: 1rem;
    white-space: pre;
    color: rgba(255, 255, 255, 0.72);
    border-bottom: solid #3d3b39 .1rem;
}

.analysisBarBodyContainer {
    height: 90%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.analysisBarMoves {
    color: white;
    width: 100%;
    overflow-y: scroll;
}

.analysisBarMoves tr:nth-child(even) {
    background-color: #2b2926;
}

.analysisBarMoves tr:nth-child(odd) {
    background-color: #272522;
}

.analysisBarMoves tr {
    height: 30px;
    line-height: 20px;
    width: 100%;
    position: relative;
    display: inline-block;
}

.analysisBarMoves table, tbody {
    display: inline-block;
    width: 100%;
    position: relative;
}

.analysisBarMoves td {
    font-size: 13px;
    font-weight: 600;
}

.analysisBarMoves td.selected {
    min-width: 40px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.analysisBarMoves td:hover {
    cursor: pointer;
}

.analysisBarMoves td:nth-child(3) {
    position: absolute;
    z-index: 1;
    left: 8rem;
    top: 3px;
    color: hsla(0,0%,100%,.72);
}

.analysisBarMoves td:nth-child(2) {
    position: absolute;
    z-index: 1;
    left: 3rem;
    top: 3px;
    color: hsla(0,0%,100%,.72);
}

.analysisBarMoves td:nth-child(1) {
    top: 3px;
    position: relative;
    left: .5rem;
    color: hsla(0,0%,100%,.5);
}

.analysisBarResultContainer {
    display: flex;
    color: rgba(255, 255, 255, 0.72);
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.analysisBarResultContainer p {
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.analysisBarReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.analysisBarReviewContainer h2 {
    font-weight: 800;
    font-size: 1.5rem;
}

.abaContainer {
    min-width: 45%;
    margin-left: 20px;
    margin-right: 20px;
}

.analysisBarAccuracy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.analysisBarAccuracy p:first-child {
    font-weight: 900;
    font-size: 1.1rem;
}

.analysisBarAccuracy p:nth-child(2) {
    font-weight: 900;
    font-size: .6rem;
    color: #999999;
}

.analysisBarResultContainer .user-icon-image {
    margin-right: 0px;
}

.centiPlotContainer {
    display: relative;
    width: 100%;
    height: 100px;
}

.analysisBarFooter {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #1f1e1b;
    border-radius: 0 0 5px 5px;
    color: white;
    margin-top: auto;
}

.analysisBarMoveSummary { 
    font-size: 14px;
    line-height: 17px;
}

.analysisBarMoveSummary td {
    font-weight: bold;
}

.analysisBarMoveSummary td:nth-child(1) { 
    padding-right: 70px;
}

.analysisBarMoveSummary td:nth-child(3) { 
    padding-left: 70px;
}

.brilliant{ color:#1baca6 }
.great{ color: #5c8bb0 }
.best{ color: #95bb4a }
.excellent{ color: #96bc4b }
.good{ color: #96af8b }
.book{ color: #a88865 }
.inaccuracy{ color: #f0c15c }
.mistake{ color: #e58f2a }
.blunder{ color: #ca3431 }